header{
    background-color: #F7EFE5;
    padding: 25px;
    
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    
}

nav a{
    text-decoration: none;
}

@media screen and (max-width: 460px){
    header nav{
        flex-direction: column;
        align-items: center;
    }
    
}

